Package: enigma2-plugin-softcams-oscam
Version: 11718-emu-r798
Description: OSCam para todas las imágenes OE2.0 OE2.5/2.6 (Patched and Build by MOHAMED_OS)
Priority: optional
Maintainer: itorres2020 (itorres2020@gmail.com)
License: open
Architecture: all
Depends: libcurl4
Source: https://github.com/itorres2020
